*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
  font-size: 1.6rem;
}

main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top {
  display: flex;
  justify-content: space-between;
}

main h1.time {
  text-align: center;
}

.crypto .crypto-top {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}
.top .crypto > p {
  margin: 0;
}

main .weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 400;
}

.weather-city {
  margin: 0;
  justify-self: center;
  align-self: center;
}

.weather .temp {
  display: flex;
  text-align: center;
  align-items: center;
}

.temp img {
  width: 60px;
  height: 60px;
}
